body{
    padding:2em; 
    background-color: greenyellow;
}
.project-details{
    margin-bottom: 2em;
    margin-top: 2em;
}
.amount{
    width:20%;
    margin-bottom: 2em;
}
.container{
    background-color: antiquewhite;
    border-radius: 20px;
    position: absolute;
    top: 5em;
    left: 4em;
    right: 4em;
}
.sub-but{
    margin-top: 2em;
    margin-left: 2em;
}