
.cont1{
    box-sizing: border-box;
    position: cover;
    margin: 0em;
    
    width: 1520px;
}

.row1{
    width: 1520px;
}
.side-menu{
    padding: 30px;
    border-right: 2px solid black;
    display: inline-block;
}
.card-container{
    
    padding: 20px;
    
    
    justify-content: end;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 1em;
}
.card{
    
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5em;
    height: 300px;
    color: #30df38;
    border: 2px solid #30df38;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    
    
}
.card:hover{
    transition: ease-in-out 0.5s;
    transform: translate( 10px,-20px);
    color: #e75858;
    border-color: #e75858;
    box-shadow: 0 0.5em 0.5em -0.4em #e75858;
    transform: translateY(-0.25em);
    cursor: pointer;
    
}
.badge1{
    position: relative;
    margin-top: 20em;
}
.start-fundraiser-button{
  margin-left: 40%;
  margin-top: 1em;
  background: none;
  color:#30df38;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
}

.start-fundraiser-button:hover {
  border-color: #e75858;
  color: rgb(139, 47, 47);
  box-shadow: 0 0.5em 0.5em -0.4em #e75858;
  transform: translateY(-0.25em);
  cursor: pointer;
}
