body{
    background-color: #151b29;
}
.cont1{
    box-sizing: border-box;
    position: cover;
    margin: 0em;
    
    width: 1520px;
}

.row1{
    width: 1520px;
}
.side-menu{
    padding: 30px;
    border-right: 2px solid black;
    display: inline-block;
}
.card-container{
    
    padding: 20px;
    
    
    justify-content: end;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 1em;
}
.card{
    background-color: #151b29;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5em;
    height: 300px;
    color: #ffa260;;
    border: 2px solid #ffa260;;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    
    
}
.card:hover{
    transition: ease-in-out 0.25s;
    transform: translate( 10px,-20px);
    color: #f1ff5c;
    border-color: #f1ff5c;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
    
}
.badge1{
    position: relative;
    margin-top: 20em;
}
.start-fundraiser-button{
  margin-left: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
  background: none;
  color:#ffa260;;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  width: 700px;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
}

.start-fundraiser-button:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}
.intro{
    color: aliceblue;
}